<div
  class="w-[90%] md:w-[30%] h-[100vh] bg-white fixed top-0 right-0 z-[4] transition ease-in-out duration-300 translate-x-full py-4 [&>div]:px-4"
  x-cloak
  :class="{ '!translate-x-0': showFilters }">

  <div class="mb-8 flex items-center justify-between pb-4 border-b border-solid border-[#E5E7EB]">
    <h2 class="calvino">Filters</h2>
    <p class="calvino cursor-pointer" @click="showFilters = !showFilters">Close</p>
  </div>

  <!-- Sorting dropdown -->
  <div class="flex flex-col mb-4 border-b border-gray-200 pb-4">
    <p class="font-[500] text-base text-[#4B5563] mb-4">Sort by</p>

    <div class="flex flex-wrap gap-4">
      {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
      {% for option in collection.sort_options %}
        {% if option.name != "Featured" %}
          <label class="flex flex-wrap items-center gap-2 cursor-pointer group">
            <div class="relative top-[3px]">
              <input
                type="radio"
                name="sort_by"
                value="{{ option.value }}"
                {% if option.value == sort_by %}
                checked{% endif %}
                class="appearance-none w-4 h-4 rounded-full border-2 border-gray-300 cursor-pointer checked:border-[#343330] checked:border-[5px] transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-gray-200">
            </div>
            <span class="text-sm text-[#6B7280] transition-colors duration-200 group-hover:text-[#343330] {% if option.value == sort_by %}!text-black{% endif %}">
              {{ option.name }}
            </span>
          </label>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {%- for filter in collection.filters -%}
    <div class="filter-section border-b border-gray-200 pb-4 mb-4 last:border-none">
      <div class="filter-summary flex items-center justify-between cursor-pointer group" @click="showFilter.includes({{ forloop.index }}) ? showFilter = showFilter.filter(opt => opt !== {{ forloop.index }}) : showFilter.push({{ forloop.index }})">
        <h3 class="font-[500] text-base text-[#4B5563] group-hover:text-gray-600 transition-colors">
          {{ filter.label }}
        </h3>
        <div class="transform transition-transform h-4 w-4" :class="{ 'rotate-180': showFilter.includes({{ forloop.index }}) }">
          {% render "icon-plus-new" %}
        </div>
      </div>

      <div
        x-cloak
        x-show="showFilter.includes({{ forloop.index }})"
        class="filter-details mt-3 space-y-3">

        {%- case filter.type -%}
          {%- when 'boolean' -%}
            <div class="space-y-2">
              {%- if filter.true_value -%}
                <label class="custom-checkbox relative inline-flex items-center group cursor-pointer">
                  <input
                    type="checkbox"
                    name="{{ filter.param_name }}"
                    value="{{ filter.true_value.value }}"
                    class="hidden peer"
                    {% if filter.true_value.active -%}
                    checked{%- endif %}
                    {% if filter.true_value.count == 0 and filter.true_value.active == false -%}
                    disabled{%- endif %}>
                  <span class="custom-checkbox-visual w-5 h-5 border border-gray-300 rounded mr-2 peer-checked:bg-indigo-600 peer-checked:border-indigo-600 group-hover:border-indigo-500 transition-all duration-200 flex items-center justify-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-3 w-3 text-white opacity-0 peer-checked:opacity-100"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path stroke-width="3" d="M5 13l4 4L19 7" />
                    </svg>
                  </span>
                  <span class="text-gray-700 group-hover:text-gray-900 transition-colors">
                    {{ filter.true_value.label }}
                  </span>
                </label>
              {%- endif -%}

              {%- if filter.false_value -%}
                <label class="custom-checkbox relative inline-flex items-center group cursor-pointer">
                  <input
                    type="checkbox"
                    name="{{ filter.param_name }}"
                    value="{{ filter.false_value.value }}"
                    class="hidden peer"
                    {% if filter.false_value.active -%}
                    checked{%- endif %}
                    {% if filter.false_value.count == 0 and filter.false_value.active == false -%}
                    disabled{%- endif %}>
                  <span class="custom-checkbox-visual w-5 h-5 border border-gray-300 rounded mr-2 peer-checked:bg-indigo-600 peer-checked:border-indigo-600 group-hover:border-indigo-500 transition-all duration-200 flex items-center justify-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-3 w-3 text-white opacity-0 peer-checked:opacity-100"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path stroke-width="3" d="M5 13l4 4L19 7" />
                    </svg>
                  </span>
                  <span class="text-gray-700 group-hover:text-gray-900 transition-colors">
                    {{ filter.false_value.label }}
                  </span>
                </label>
              {%- endif -%}
            </div>

          {%- when 'list' -%}
            <div class="flex flex-wrap items-center gap-2">
              {%- for filter_value in filter.values -%}
                <label class="custom-checkbox relative inline-flex items-center group cursor-pointer">
                  <input
                    type="checkbox"
                    name="{{ filter_value.param_name }}"
                    value="{{ filter_value.value }}"
                    class="hidden peer"
                    {% if filter_value.active -%}
                    checked{%- endif %}
                    {% if filter_value.count == 0 and filter_value.active == false -%}
                    disabled{%- endif %}>
                  <span class="custom-checkbox-visual w-5 h-5 border border-gray-300 rounded mr-2 peer-checked:bg-black peer-checked:border-black group-hover:border-gray-400 transition-all duration-200 flex items-center justify-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-3 w-3 text-white opacity-0 peer-checked:opacity-100"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path stroke-width="3" d="M5 13l4 4L19 7" />
                    </svg>
                  </span>
                  <span class="text-sm text-gray-700 group-hover:text-gray-900 transition-colors">
                    {{ filter_value.label }}
                  </span>
                </label>
              {%- endfor -%}
            </div>

          {%- when 'price_range' -%}
            <div class="grid grid-cols-2 gap-4 [&>div]:flex [&>div]:flex-col">
              <div class="relative">
                <label for="Filter-{{ filter.min_value.param_name }}" class="block text-sm font-medium text-gray-700 mb-1">
                  From
                </label>
                <div class="absolute inset-y-0 left-0 pl-3 mt-[21px] flex items-center pointer-events-none text-gray-500">
                  {{ cart.currency.symbol }}
                </div>
                <input
                  name="{{ filter.min_value.param_name }}"
                  id="Filter-{{ filter.min_value.param_name }}"
                  type="number"
                  placeholder="0"
                  min="0"
                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                  class="appearance-none block w-full pl-7 pr-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-200 focus:border-gray-500 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
                  {% if filter.min_value.value -%}
                  value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                  {%- endif %}>
              </div>

              <div class="relative">
                <label for="Filter-{{ filter.max_value.param_name }}" class="block text-sm font-medium text-gray-700 mb-1">
                  To
                </label>
                <div class="absolute inset-y-0 left-0 pl-3 mt-[21px] flex items-center pointer-events-none text-gray-500">
                  {{ cart.currency.symbol }}
                </div>
                <input
                  name="{{ filter.max_value.param_name }}"
                  id="Filter-{{ filter.max_value.param_name }}"
                  type="number"
                  placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                  min="0"
                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                  class="appearance-none block w-full pl-7 pr-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-gray-500 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
                  {% if filter.max_value.value -%}
                  value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                  {%- endif %}>
              </div>
            </div>
        {%- endcase -%}
      </div>
    </div>
  {%- endfor -%}

  <!-- Apply Filters Button -->
  <button type="submit" class="w-[90%] block mt-4 text-sm mx-auto bg-black text-white py-2 px-4 rounded-md hover:bg-gray-800">
    Apply Filters
  </button>

  <!-- Active filters section -->
  <div class="mt-4 w-[90%] mx-auto !px-0">
    <p>
      <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="text-sm hover:text-[#777] underline">Clear all</a>
    </p>

    {%- for filter in collection.filters -%}
      {%- if filter.type == "price_range" -%}
        {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
          <p class="mt-2">
            <a href="{{ filter.url_to_remove }}" class="text-[#777] flex justify-between items-center">
              {%- assign min_value = filter.min_value.value | default: 0 -%}
              {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
              {{ min_value | money }} - {{ max_value | money }}
              <span class="text-red-500">{% render "icon-close" %}</span>
            </a>
          </p>
        {%- endif -%}
      {%- else -%}
        {%- for filter_value in filter.active_values -%}
          <p class="mt-2">
            <a href="{{ filter_value.url_to_remove }}" class="text-[#777] flex justify-between items-center">
              {{ filter.label }}: {{ filter_value.label }}
              <span class="text-red-500">{% render "icon-close" %}</span>
            </a>
          </p>
        {%- endfor -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>